html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.masthead .carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}
@media(max-width:600px){
  #arrow-shaped {
    width: 0;
    height: 0;
    background-color: #58595b;
    border-top: 40px solid transparent;
    border-left: 200px solid #58595b;
    border-bottom: 40px solid transparent;
  }
}
@media(min-width:600px){
  #arrow-shaped {
    width: 0;
    height: 0;
    background-color: #58595b;
    border-top: 40px solid transparent;
    border-left: 200px solid #58595b;
    border-bottom: 40px solid transparent;
  }
}
@media(min-width:800px){
  #arrow-shaped {
    width: 0;
    height: 0;
    background-color: #58595b;
    border-top: 40px solid transparent;
    border-left: 380px solid #58595b;
    border-bottom: 40px solid transparent;
  }
}
@media(max-width:600px){
  .logo-nav{
    max-height: 31px;
    max-width: 70x;
    margin-left: 10px;
  }
  h3{
    font: 18px;
  }
  .bg-secondary {
    background-color: #ffffff!important;
  }
  #form-header{
    font-size: 1.5rem;
  }
  #form-holder p{
    font-size: small;
  }
  
  #mainNav .navbar-nav li.nav-item a.nav-link {
    color: #000;
    font-size: large;
    border-bottom: 5px solid transparent;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #f8b609;
    border-bottom:5px solid #f8b609;
  }
  .advert{
    background-color: #f8b609;
    padding-bottom: 0;
  }
  #servicesform{
    border-radius: 15px;
    width: 71%;
    margin: auto;
    background-color: #58595b; 
    opacity:0.9; 
    padding:20px 40px 20px 40px;
  }
  .masthead form select{
      width:150px;
  }
  @media (max-width:320px){
    #servicesform{
      width: 100%;
    }
    .masthead form select{
      width:80%;
    }
    .masthead .btnProceed{
      width: 80%;
    }
  }
  .masthead .btnProceed{
      background-color: #f8b609;
      color: white;
      border:none;
      border-radius: 20px;
      padding-left:40px; padding-right: 40px; 
  }
  .carousel .carousel-item.c-header {
    height: 82vh;
    
  }
  
  .carousel-item.c-header img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 88vh
  }
  .main-text
  {
      position: absolute;
      top: 18vh;
      left:30px;
      width: 100%;
      color: #FFF;
  }
  .btn-min-block
  {
      min-width: 170px;
      line-height: 26px;
  }
  #close{
    float:right;
  }
  #formholder h1{
    font-size: 15px;
  }
  #registertechnician{
   display:none;
  }
  #advert1{
    margin-bottom: 30px;
  }
  #advert2{
    margin-bottom: 30px; 
  }
  #workWithUs{
    color: white; 
    padding:250px 50px 50px 50px;
  }
  #brands{
    margin: 100px 50px 100px 50px;
  }
  #clientreviews{
   margin-bottom: 30px;
  }
  #contactUs{
    margin-top: 20px;
    margin-bottom:20px;
  }
  #iconPhone{
    margin-left: -5px;
    margin-right: 10px;
  }
  #iconEmail{
    margin-left: -5px;
    margin-right: 10px;
  }
  #newsletter{
    margin-top: 20px; 
    margin-bottom:30px;
  }
  #fyxCall{
    margin-top: 10px; 
    margin-bottom:10px;
  }
  .footerForm input {
    border: 0;
    outline: 0;
    margin-bottom: 30px;
    width: 250px;
    background: transparent;
    border-bottom: 1px solid #e8e9ed;
  }
  .footerForm input:focus{
    border-color: #f8b609;
  }
  .footerForm ::placeholder { 
   color: white;
   opacity: 1; 
  }
  
  .footerForm :-ms-input-placeholder {
   color: white;
  }
  
  .footerForm ::-ms-input-placeholder { 
   color: white ;
  }
  .arrows{
    color: #000;
  }
  #footerDivider{
    height:2px;
    border-width:0;
    background-color:white;
    width: 100%;
  }
  .float{
    position:fixed;
    width:40px;
    height:40px;
    bottom:40px;
    right:20px;
    background-color:#03aB4e;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 1px 1px 0px #999;
}
.my-float{
    margin-top:11px;
}
  .servicesimgs{
    margin-left: 7px;
  }
  .slidearrow{
    color:#fff;
  }
  .footerFormPhone input {
    border: 0;
    outline: 0;
    margin-bottom: 30px;
    width: 250px;
    background: transparent;
    border-bottom: 1px solid #e8e9ed;
  }
  .footerFormPhone input:focus{
    border-color: #f8b609;
  }
  .footerFormPhone ::placeholder { 
   color: white;
   opacity: 1; 
  }
  
  .footerFormPhone :-ms-input-placeholder {
   color: white;
  }
  
  .footerFormPhone ::-ms-input-placeholder { 
   color: white ;
  }
  .footerFormPhone .fa{
    top: 180px;
    left: 270px;
  }
  .advert h3{
    margin-top: -65px;
    padding-bottom: 10px;
  }
  .servicecards{
    width: 105px;
    height: 100px;
  }
  .col-md-2{
    width: 40%;
    margin-bottom: 10px;
  }
  #arrow-shaped {
    display: none;
  }
  .footerForm .fa{
     top:82px;
    left: 270px;
   }
  .col-md-4, .col {
     width:100%
   }
}
@media(min-width: 600px) {
  .logo-nav{
    max-height: 51px;
    max-width: 90x;
    margin-left: 10px;
  }
  h3{
    font: 24px;
  }
  .bg-secondary {
    background-color: #ffffff!important;
  }
  #form-header{
    font-size: 2.0rem;
  }
  #form-holder p{
    font-size: medium;
  }
  
  #mainNav .navbar-nav li.nav-item a.nav-link {
    color: #000;
    font-size: large;
    border-bottom: 5px solid transparent;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #f8b609;
    border-bottom:5px solid #f8b609;
  }
  .advert{
    background-color: #f8b609;
    padding-bottom: 0;
  }
  #servicesform{
    border-radius: 15px;
    width: 71%;
    margin: auto;
    background-color: #58595b; 
    opacity:0.9; 
    padding:20px 40px 20px 40px;
  }
  .masthead form select{
      width:150px;
  }
  .masthead .btnProceed{
      background-color: #f8b609;
      color: white;
      border:none;
      border-radius: 20px;
      padding-left:40px; padding-right: 40px; 
  }
  .carousel .carousel-item.c-header {
    height: 85vh;
    
  }
  
  .carousel-item.c-header img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 88vh
  }
  .main-text
  {
      position: absolute;
      top: 18vh;
      left:30px;
      width: 100%;
      color: #FFF;
  }
  .btn-min-block
  {
      min-width: 170px;
      line-height: 26px;
  }
  #close{
    float:right;
  }
  #formholder h1{
    font-size: 15px;
  }
  #registertechnician{
    height: 230px;
    width: 250px; 
    left: 15px;
    top:320px;
    position: absolute;
    text-align: left;
    color: black;
    background: rgba(0,0,0,0.3);
  }
  #registertechnician img{
    margin-left: -50px;
  }
  #registertechnician i{
    color: #fff;
    background: rgba(0,0,0,0.2);
  }
  .text-centered {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #registertech {
    background-color: #f8b609;
    color: #fff;
    border: none;
    margin-left: 5px;
    border-radius: 20px;
    padding:2px 5px 2px 5px;
  }
  #advert1{
    margin-bottom: 30px;
  }
  #advert2{
    margin-bottom: 30px; 
  }
  #workWithUs{
    color: white; 
    padding:250px 50px 50px 50px;
  }
  #brands{
    margin: 100px 50px 100px 50px;
  }
  #clientreviews{
   margin-bottom: 30px;
  }
  #contactUs{
    margin-top: 20px;
    margin-bottom:20px;
  }
  #iconPhone{
    margin-left: -5px;
    margin-right: 30px;
  }
  #iconEmail{
    margin-left: -5px;
    margin-right: 30px;
  }
  #newsletter{
    margin-top: 20px; 
    margin-bottom:30px;
  }
  #fyxCall{
    margin-top: 10px; 
    margin-bottom:10px;
  }
  .footerForm input {
    border: 0;
    outline: 0;
    margin-bottom: 30px;
    width: 250px;
    background: transparent;
    border-bottom: 1px solid #e8e9ed;
  }
  .footerForm input:focus{
    border-color: #f8b609;
  }
  .footerForm ::placeholder { 
   color: white;
   opacity: 1; 
  }
  
  .footerForm :-ms-input-placeholder {
   color: white;
  }
  
  .footerForm ::-ms-input-placeholder { 
   color: white ;
  }
  .arrows{
    color: #000;
  }
  #footerDivider{
    height:2px;
    border-width:0;
    background-color:white;
    width: 100%;
  }
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:20px;
    background-color:#03aB4e;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 1px 1px 0px #999;
}
.my-float{
    margin-top:20px;
}
  .servicesimgs{
    margin-left: 7px;
  }
  #phonearrow{
    top: 5rem;
    left: 15.5em;
  }
  .slidearrow{
    color:#fff;
  }
  .footerFormPhone input {
    border: 0;
    outline: 0;
    margin-bottom: 30px;
    width: 250px;
    background: transparent;
    border-bottom: 1px solid #e8e9ed;
  }
  .footerFormPhone input:focus{
    border-color: #f8b609;
  }
  .footerFormPhone ::placeholder { 
   color: white;
   opacity: 1; 
  }
  
  .footerFormPhone :-ms-input-placeholder {
   color: white;
  }
  
  .footerFormPhone ::-ms-input-placeholder { 
   color: white ;
  }
  .footerFormPhone .fa{
    top: 200px;
    left: 250px;
  }
  .advert h3{
    margin-top: -65px;
    padding-bottom: 10px;
  }
  .servicecards{
    width: 105px;
    height: 100px;
  }
  .col-md-2{
    width: 30%;
    margin-bottom: 10px;
  }
  .footerForm .fa{
    top: 100px;
    left: 250px;
}
.col-md-4 {
  width:100%
}

}

@media(min-width: 1200px) {
  .logo-nav{
    max-height: 81px;
    max-width: 110x;
    margin-left: 50px;
  }
  .bg-secondary {
    background-color: #ffffff!important;
  }
  
  #mainNav .navbar-nav li.nav-item a.nav-link {
    color: #000;
    font-size: large;
    border-bottom: 5px solid transparent;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #f8b609;
    border-bottom:5px solid #f8b609;
  }
  .advert{
    background-color: #f8b609;
    padding-bottom: 0;
  }
  .map-clean {
    color: #313437;
    background-color: #fff;
    padding-bottom: 10px; 
    margin:100px 0px 50px 0px;
    
  }
  @media (max-width: 767px) { 
    .navbar{
       margin-top:0px;
       top:-65px;
        position:relative;
     }
     .advert{
       background-color: #f8b609;
     }
  }
  #servicesform{
    border-radius: 15px;
    width: 71%;
    margin: auto;
    background-color: #58595b; 
    opacity:0.9; 
    padding:20px 40px 20px 40px;
  }
  .masthead form select{
      width:150px;
  }
  .masthead .btnProceed{
      background-color: #f8b609;
      color: white;
      border:none;
      border-radius: 20px;
      padding-left:40px; padding-right: 40px; 
  }
  #marketing{
    padding-bottom: 0px; 
    margin-left: 100px; 
    margin-right: 100px; 
    margin-top: 80px; 
    margin-bottom: 100px;
  }
  #advert1{
    margin-bottom: 50px;
  }
  #advert2{
    margin:50px 100px 100px 100px; 
  }
  #advert3{
    margin-right: 100px;
    margin-left: 100px;
  }
  #workWithUs{
    color: white; 
    padding:250px 50px 0px 50px;
  }
  #brands{
    margin: 100px 50px 100px 50px;
  }
  #clientreviews{
    margin: 100px 100px 50px 100px;
  }
  .cardItem{
    float:left;
  }
  #contactUs{
    margin-top: 20px;
    margin-bottom:15px;
  }
  #iconPhone{
    margin-left: -5px;
    margin-right: 10px;
  }
  #iconEmail{
    margin-left: -5px;
    margin-right: 10px;
  }
  #newsletter{
    margin-top: 20px; 
    margin-bottom:30px;
  }
  #fyxCall{
    margin-top: 10px; 
    margin-bottom:10px;
  }
  .footerForm input {
    border: 0;
    outline: 0;
    margin-bottom: 30px;
    width: 250px;
    background: transparent;
    border-bottom: 1px solid #e8e9ed;
  }
  .footerForm input:focus{
    border-color: #f8b609;
  }
  .footerForm ::placeholder { 
   color: white;
   opacity: 1; 
  }
  
  .footerForm :-ms-input-placeholder {
   color: white;
  }
  
  .footerForm ::-ms-input-placeholder { 
   color: white ;
  }
  .arrows{
    color: #000;
  }
  #footerDivider{
    height:2px;
    border-width:0;
    background-color:white;
    width: 100%;
  }
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:110px;
    background-color:#03aB4e;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 1px 1px 0px #999;
  }
  
  .my-float{
    margin-top:22px;
  }
  .servicesimgs{
    margin-left: 7px;
  }
  #registertechnician{
    height: 230px;
    width: 250px; 
    left: 130px;
    top:200px;
    position: absolute;
    text-align: left;
    color: black;
    background: rgba(0,0,0,0.3);
  }
  #registertechnician img{
    margin-left: -40px;
  }
  #registertechnician i{
    color: #fff;
    background: rgba(0,0,0,0.2);
  }
  .text-centered {
    position: absolute;
    top: 35%;
    left: 56%;
    transform: translate(-60%, -40%);
  }
  #registertech {
    background-color: #f8b609;
    color: #fff;
    border: none;
    margin-left: 5px;
    border-radius: 20px;
    padding:2px 5px 2px 5px;
  }
  .main-text
  {
      position: absolute;
      top: 40vh;
      left:30px;
      width: 100%;
      color: #FFF;
  }
  .btn-min-block
  {
      min-width: 170px;
      line-height: 26px;
  }
  #close{
    float:right;
  }
  
  .carousel .carousel-item.c-header {
    height: 82vh;
    
  }
  
  .carousel-item.c-header img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 88vh
  }
  .servicecards{
    height: 100px;
    width: 100px;
  }
  
  .servicerow{
    margin-left:200px;
  }
  .footerForm .fa{
      top: 5rem;
      left: 250px;
  }
  #phonearrow{
    top: 5rem;
    left: 15.5em;
  }
  .slidearrow{
    color:#fff;
  }
  .footerFormPhone input {
    border: 0;
    outline: 0;
    margin-bottom: 30px;
    width: 250px;
    background: transparent;
    border-bottom: 1px solid #e8e9ed;
  }
  .footerFormPhone input:focus{
    border-color: #f8b609;
  }
  .footerFormPhone ::placeholder { 
   color: white;
   opacity: 1; 
  }
  
  .footerFormPhone :-ms-input-placeholder {
   color: white;
  }
  
  .footerFormPhone ::-ms-input-placeholder { 
   color: white ;
  }
  .footerFormPhone .fa{
    top: 11.2rem;
    left: 250px;
  }
  .advert h3{
    margin-top: -65px;
    padding-bottom: 10px;
  }
}
@media(min-width:1300px) {
  #arrow-shaped {
    width: 0;
    height: 0;
    background-color: #58595b;
    border-top: 40px solid transparent;
    border-left: 500px solid #58595b;
    border-bottom: 40px solid transparent;
  }
}

@media(min-width:1450px) {
  #arrow-shaped {
    width: 0;
    height: 0;
    background-color: #58595b;
    border-top: 40px solid transparent;
    border-left: 600px solid #58595b;
    border-bottom: 40px solid transparent;
  }
}